<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">МЕМАСТИК ИНВАЙТ КОД</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div style="color: white;
            text-align: center;
            background-image: linear-gradient(#5f57ea, #9647db);">
    <img style="width: 30%; height: 30%"
         src="https://raw.githubusercontent.com/TheTOXIN/MemastickDesign/master/images/mem-logo.png">
    <h1 style="font-size: 30px" th:text="${nick}">nick</h1>
    <div style="font-size: 32px;
            border-radius: 30px;
            border: 5px solid white;
            margin-left: 30%;
            margin-right: 30%;
            padding: 30px;
            background: #9e9e9e;
            box-shadow: 0 0 100px 5px rgba(0,0,0,0.75);">
        <span style="border: 10px">ТВОЙ ИНВАЙТ КОД</span>
        <h2 style="color: darkorange;" th:text="${code}">code</h2>
    </div>
    <div style="margin: 30px;
            font-size: 16px;">
        <p>Когда мемастик будет готов мы тебе обязательно сообщим.</p>
    </div>
    <div style="font-size: 14px;">
        <img style="width: 20%; height: 20%"
             src="https://raw.githubusercontent.com/TheTOXIN/MemastickDesign/master/images/super_evolution.png">
        <p>Спасибо за участие!</p>
        <span>© 2018 Copyright by Memastick Powered by Toxin</span>
    </div>
</div>
</body>
</html>